grpc-mule-schedule-client/src/main/app/gRPC.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="gRPC-httpListenerConfig" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration" />
    <apikit:config name="gRPC-config" raml="gRPC.raml" consoleEnabled="false" doc:name="Router" />
    <flow name="gRPC-main">
        <http:listener config-ref="gRPC-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="gRPC-config" doc:name="APIkit Router" />
        <exception-strategy ref="gRPC-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    
    <flow name="gRPC-console">
        <http:listener config-ref="gRPC-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="gRPC-config" doc:name="APIkit Console" />
    </flow>
    
    <flow name="get:/health:gRPC-config">
        <set-payload value="Heelo Kathir !" doc:name="Set Payload" />
    </flow>
    
     <flow name="ProcessInputParameters">
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="Input JSON to Object" />
        <set-variable variableName="INPUT_PARAM" value="#[payload]" doc:name="Set Input Parameter" />
    </flow>
    
    <flow name="post:/getFlightLegsByDepartureAirport:application/json:gRPC-config">
        <flow-ref name="ProcessInputParameters" doc:name="ProcessInputParameters" />
        <component class="com.sabre.grpc.FlightLegs" doc:name="getFlightLegsByDepartureAirport">
            <method-entry-point-resolver>
                <include-entry-point method="getFlightLegsByDepartureAirport" />
            </method-entry-point-resolver>
        </component>
        <json:object-to-json-transformer doc:name="Object to JSON" />
    </flow>
 
    <flow name="post:/getFlightLegById:application/json:gRPC-config">
        <flow-ref name="ProcessInputParameters" doc:name="ProcessInputParameters" />
        <component class="com.sabre.grpc.FlightLegs" doc:name="getFlightLegById">
            <method-entry-point-resolver>
                <include-entry-point method="getFlightLegById" />
            </method-entry-point-resolver>
        </component>
        <json:object-to-json-transformer doc:name="Object to JSON" />
    </flow>
    
    <flow name="post:/updateFlightLeg:application/json:gRPC-config">
         <flow-ref name="ProcessInputParameters" doc:name="ProcessInputParameters" />
        <component class="com.sabre.grpc.FlightLegs" doc:name="updateFlightLeg">
            <method-entry-point-resolver>
                <include-entry-point method="updateFlightLeg" />
            </method-entry-point-resolver>
        </component>
        <json:object-to-json-transformer doc:name="Object to JSON" />
    </flow>
    
    <apikit:mapping-exception-strategy name="gRPC-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
